@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');



@import "./utilities/variables";
@import "./utilities/extend";
@import "./utilities/mixin";

@import "./utilities/globales";

@import "./components/header";

@import "./pages/main-index";
@import "./pages/main-galeria";
@import "./pages/main-nosotros";
@import "./pages/main-eventos";
@import "./pages/main-contacto";

@import "./components/footer";

@import "./utilities/media-queries";
