main {
    .fiestasInf {

        display: flex;
        justify-content: center;

        img {
            height: 60vh;
            margin-left: 10px;
        }
    }

    .fiestasAdul {
        display: flex;
        justify-content: center;

        img {
            height: 60vh;
            margin-left: 10px;
        }
    }
}