* {
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

/*header barra de navegacion*/
.navbar-brand,
.nav-link {
    $colornav: green;
    $text-decoration-nav: overline;
}

/*estilos y fuente de font family body*/
body {
    font-family: $tipografia-ppal;
    font-optical-sizing: $font-optical-sizingppal;
    font-weight: $font-weightppal;
    font-style: $font-styleppal;
    color: $colortipografia-ppal;
    background-image: $backgroun-ppal;

}


/*variables globales h1 */
h1 {
    color: $color-h1;
    text-decoration: $text-decoration-h1;
    text-align: $text-align-h1;
    background-color: $background-color-h1;
    padding: $padding-h1;
    border: $border-h1;
    margin: $margin-h1;
    border-radius: $border-radius-h1;
}
/*variables globales h2*/
h2{
    color:$color-h2 ;
    margin: $margin-h2;
    text-align: $text-align-h2;
}
/*variables globales h3*/
h3{
    color:$color-h3;
    background-color: $background-color-h3;
    font-size: $font-size-h3;
    margin-inline: $margin-inline-h3;
    margin-block: $margin-block-h3;
    text-align: $text-align-h3;
}

/*variables globales h5*/
h5 {
    color: $color-h5;
    font-family: $font-family-h5;
    text-align: $text-align-h5;
    font-size: $font-size-h5;
    margin-top: $margin-top-h5;
    background-color: $background-color-h5;
}
/*variables globales p */

p{
    margin: $margin-p;
    color: $color-p;
    text-align: $text-align-p;
    font-size: $font-size-p;


}



/*logo whatsapp fijo en los html*/
.whatsapp {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 70px;
    height: 70px;
    padding: 2px;
    border: 5px;
    margin: 5px;
    z-index: 100;
}