/*nav*/
$colornav: green;
$text-decoration-nav: overline;

/*body*/
$tipografia-ppal: "Roboto Condensed", sans-serif;
$font-optical-sizingppal: auto;
$font-weightppal: 600;
$font-styleppal: normal;
$colortipografia-ppal: chocolate;
$backgroun-ppal: url(https://png.pngtree.com/thumb_back/fw800/background/20220522/pngtree-celebration-party-banner-with-gold-balloons-clear-white-transparent-background-image_1386604.jpg);

/*h1*/
$color-h1: green;
$text-decoration-h1: underline;
$text-align-h1: center;
$background-color-h1: chocolate;
$padding-h1: 20px 1px;
$border-h1: 1px solid black;
$margin-h1: 20px;
$border-radius-h1: 10px;

/*h5*/
$color-h5: chocolate;
$font-family-h5: cursive;