/*footer*/

footer {
    ul {
        li {
            list-style: none;
            margin: 10px;
        }
    }

    .irArriba {
        font-family: 'Times New Roman', Times, serif;
        color: blue;
        text-decoration: underline;
        background-color: rgba(210, 105, 30, 0.507);
    }
}